.readOnly {
    -fx-background-color: -fx-text-box-border, -fx-background;
}
.text-area.readOnly .content {
    -fx-background-color:
        -fx-background;
    -fx-background-radius: 2;
}
.text-area.readOnly:focused .content {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        -fx-background;
    -fx-background-insets: 0, 0, 2;
    -fx-background-radius: 2, 1, 0;
}

.chart-symbol {
    -fx-background-color: #00f;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

.default-color1.chart-symbol {
    -fx-background-color: #f00;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}
